.header {
	width: 100%;
	position: absolute;
	top: 0;
	padding: 1rem;
	z-index: 10;

	.logo {
		position: relative;
		top: 7px;

		@media(max-width: 768px) {
			top: 2px;
		}

		@media(min-width: 768px) and (max-width: 992px) {
			top: 2px;
		}

		@media (max-width: 500px) {
			left: 24px;
		}
	}
}
