<header class="header">
	<div class="container">
		<div class="columns">
			<div class="column is-2">
				<a href="<%=root_path%>">
					<img class="logo" src="<%=asset_path('logo_black.png')%>" alt="Ofertas de empleo para equipos tecnológicos – jobHub" width="50" height="50">
				</a>
			</div>
			<div class="column is-10 has-text-right is-hidden-touch">
				<%= render "menu" %>
			</div>
		</div>
	</div>
</header>